.vagga
.home
gimp
resynthesizer
gimpBuild
resynthBuild
mesonGccBuild
mesonClangBuild
guile-gi
pgi-docgen
gimpfu/__pycache__
pygimpv2
pdb.txt
*.pyc
*.html
*.css
gimpTestPlugins
vaggaAlpine
juliaFuFu
juliaFuFu/_build
